@import url('https://fonts.googleapis.com/css?family=Open+Sans &display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

.main {
    padding-left: 10%;
}

.projects {
    border: #1B5E36 1.5px solid;
    font-size: 18px;
    border-radius: 1px;
    padding: 10px;
}
.projects:hover {
    border: #1B5E36 1.5px solid;
    background: #1B5E36;
    color: white;
    transition: all 0.35s;
}

footer {
    border: solid black 1px;
}
