@import url('https://fonts.googleapis.com/css?family=Open+Sans &display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

.main {
    padding-left: 10%;
}

.projects {
    border: #95343f 1.5px solid;
    font-size: 18px;
    border-radius: 1px;
    padding: 10px;
}
.projects:hover {
    border: #95343f 1.5px solid;
    background: #95343f;
    color: white;
    transition: all 0.35s;
}

footer {
    border: solid black 1px;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  
  h1 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    color: #95343f;
    text-transform: uppercase;
    text-align: center;
  }
  .container {
    padding-top: 15%;
    display: grid;
  }
  
  .skillContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  
  .skillContainer li {
    padding: 2%;
  }
  
  .text {
    padding-top: 9%;
  }
  
  .text > h1 {
    font-family: "Modak", cursive;
    font-size: 10vw;
    line-height: 7vw;
    margin: 5px;
    text-align: center;
    font-weight: lighter;
    color: #95343f;
  }
  
  .sections {
    margin: auto;
    font-size: 1rem;
    max-width: 1000px;
  }
  .section > h1 {
    text-align: center;
    margin: 4rem 0 4rem 0;
    font-weight: lighter;
  
    font-size: 3rem;
    font-family: "Nixie One", cursive;
  }
  
  .sectionsWithColor {
    padding: 10% 10%;
    font-size: 1rem;
  }
  
  .center > button,
  a {
    text-decoration: none;
    color: black;
    margin-top: 15%;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 33px;
    background: #ffffff;
    box-shadow: 14px 14px 19px #e6e6e6, -14px -14px 19px #ffffff;
  }
  
  .center > button:hover,
  a:hover {
    font-weight: bold;
    color: #95343f;
  }
  
  .center {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
  }
  .laptop_img{
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    .readMore {
      font-size: 16px;
      padding: 15px 32px;
      border: none;
      border-radius: 33px;
      background: #ffffff;
      box-shadow: 14px 14px 19px #e6e6e6, -14px -14px 19px #ffffff;
    }
    .readMore:hover {
      font-weight: bold;
    }
    .prosject__h2 {
      text-align: center;
      padding-top: 5%;
      color: #7b6950;
    }
  }
  @media only screen and (min-width: 500px) {
    img {
      width: 100%;
    }
    .sectionsWithColor ul {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 10px;
    }
    .text > h1 {
      padding: 5% 0 0 0;
      font-size: 10vw;
      line-height: 5vw;
    }
  
    .sections {
      margin: 20% 10%;
    }
    .img_mobile{
      display: none;
    }
    .laptop_img{
    display: inline;
  }
  }
  @media only screen and (min-width: 800px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
    .container {
      margin-bottom: 150px;
      min-height: 300px;
      width: 100%;
      grid-template-columns: 10% 80% 10%;
    }
    .content {
      display: grid;
      grid-template-columns: 60% 40%;
      column-gap: 10px;
    }
    .sections {
      margin: 10% 10%;
      font-size: 1rem;
    }
    .text {
      padding-top: 30%;
    }
    .text > h1 {
      font-size: 4vw;
      line-height: 3vw;
    }
    .aboutMe {
      margin: 15% 13%;
    }
    .skillContainer ul {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      column-gap: 10px;
      font-size: 1.5rem;
    }
    .skillContainer ul li {
      padding-top: 20px;
      list-style: none;
      flex: 0 0 33%;
    }
    .prosject__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "image"
        "content";
    }
    .grid-text {
      grid-area: content;
      color: #95343f;
      height: 300px;
      margin-bottom: 200px;
      padding-left: 60px;
    }
    .image {
      display: initial;
      margin: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    p {
      padding: 0;
    }
    .vl {
      border-left: 2px solid #95343f;
      height: 300px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .prosject__container > div {
      padding: 7%;
    }
    .prosject__container > div > h3 {
      color: #7b6950;
    }
    .prosject__container > div > p {
      font-size: 18px;
      color: darkslategray;
    }
    .img_mobile{
      display: none;
    }
    .laptop_img{
    display: inline;
  }
  }